{
  "wifi_id": "SSID_NAME",
  "wifi_pw": "12345678",
  "static_ip": "192.168.2.216",
  "gateway_ip": "192.168.2.254",
  "subnet": "255.255.255.0",
  "primary_dns": "192.168.2.254",
  "secondary_dns": "",
  "hostname": "sensor-coordinator.local",
  "destination": "192.168.2.215",
  "auth_user": "USERNAME",
  "auth_pw": "PASSWORD",
  "interval": 5,
  "use_gps_time": 0,
  "gps_time_uart_nr": 2,
  "gps_baud": 9600,
  "rh_high": 95.0,
  "rh_medium": 90.0,
  "rh_low": 65.0,
  "use_rh_headroom_mode": 1,
  "rh_attainable_headroom_high": 45.00,
  "rh_attainable_headroom_medium": 30.00,
  "rh_attainable_headroom_low": 15.00,
  "rh_headroom_mode_rh_medium_bound": 90.00,
  "rh_headroom_mode_rh_low_bound": 62.50,
  "co2": {
   "temp_setpoint_c": 20.0,
   "use_average_inside_temp": 1,
   "temp_wanted_factor": [{
      "comment": "-4, ventilate less",
      "low": 1300,
      "medium": 1750,
      "high": 2100
     },{
      "comment": "-3",
      "low": 1200,
      "medium": 1600,
      "high": 2000
     },{
      "comment": "-2",
      "low": 1100,
      "medium": 1500,
      "high": 1900
     },{
      "comment": "-1",
      "low": 1050,
      "medium": 1250,
      "high": 1700
     },{
      "comment": "0, normal ventilation",
      "low": 950,
      "medium": 1100,
      "high": 1600
     },{
      "comment": "1",
      "low": 950,
      "medium": 1100,
      "high": 1500
     },{
      "comment": "2",
      "low": 900,
      "medium": 1000,
      "high": 1400
     },{
      "comment": "3",
      "low": 800,
      "medium": 900,
      "high": 1300
     },{
      "comment": "4, ventilate more",
      "low": 700,
      "medium": 900,
      "high": 1250        
     }],
     "matrix_comment_y": "The rows represent the measured temperature difference vs setpoint, from -10 to 10 *C.", 
     "matrix_comment_x": "and the columns represent the inlet difference vs setpoint from -10 to 10 *C",
     "matrix_comment_z": "The resulting value selects the corresponding temp_wanted_factor in the row/column scenario",
     "matrix": [
        [-4,-4,-4,-3,-2,-1, 0, 1, 1, 2, 3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 3], 
        [-4,-4,-4,-3,-2,-1, 0, 0, 1, 2, 2, 3, 4, 4, 3, 3, 3, 2, 2, 2, 2], 
        [-4,-4,-4,-3,-2,-1,-1, 0, 1, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 1], 
        [-4,-4,-4,-3,-2,-2,-1, 0, 0, 1, 2, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1], 
        [-4,-4,-4,-3,-3,-2,-1,-1, 0, 1, 2, 3, 2, 2, 1, 1, 1, 1, 1, 1, 1], 
        [-4,-4,-4,-4,-3,-2,-2,-1, 0, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1], 
        [-4,-4,-4,-4,-3,-3,-2,-1, 0, 1, 2, 2, 2, 1, 1, 1, 0, 0, 0, 0, 0], 
        [-4,-4,-4,-4,-3,-3,-2,-1, 0, 1, 2, 2, 1, 0, 0, 0, 0,-1,-1,-1,-1], 
        [-4,-4,-4,-4,-3,-3,-2,-1, 0, 1, 2, 1, 1, 0,-1,-1,-1,-1,-2,-2,-2], 
        [-4,-4,-4,-4,-3,-2,-2,-1, 0, 1, 2, 1, 0, 0,-1,-2,-2,-2,-2,-3,-3], 
        [-3,-3,-3,-3,-3,-2,-1,-1, 0, 1, 2, 1, 0,-1,-1,-2,-2,-3,-3,-3,-3], 
        [-3,-3,-2,-2,-2,-2,-1, 0, 0, 1, 2, 1, 0,-1,-2,-2,-3,-3,-4,-4,-4], 
        [-2,-2,-2,-1,-1,-1,-1, 0, 1, 1, 2, 1, 0,-1,-2,-3,-3,-4,-4,-4,-4], 
        [-1,-1,-1,-1, 0, 0, 0, 0, 1, 2, 2, 1, 0,-1,-2,-3,-3,-4,-4,-4,-4], 
        [ 0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 1, 0,-1,-2,-3,-3,-4,-4,-4,-4], 
        [ 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 0,-1,-2,-2,-3,-4,-4,-4,-4], 
        [ 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 2, 1, 0,-1,-1,-2,-3,-3,-4,-4,-4], 
        [ 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 2, 1, 0, 0,-1,-2,-2,-3,-4,-4,-4], 
        [ 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 2, 1, 1, 0, 1,-1,-2,-3,-4,-4,-4], 
        [ 2, 2, 2, 2, 3, 3, 3, 4, 4, 3, 2, 2, 1, 0, 0,-1,-2,-3,-4,-4,-4], 
        [ 3, 3, 3, 3, 3, 4, 4, 4, 4, 3, 3, 2, 2, 1, 0,-1,-2,-3,-4,-4,-4]
     ]
  }
}
