{
  "wifi_id": "SSID_NAME",
  "wifi_pw": "12345678",
  "hostname": "sensor-coordinator.local",
  "destination": "192.168.2.215",
  "auth_user": "USERNAME",
  "auth_pw": "PASSWORD",
  "interval": 5,
  "co2_ppm_high": 1200,
  "co2_ppm_medium": 1000,
  "co2_ppm_low": 800,
  "rh_high": 95.0,
  "rh_medium": 85.0,
  "rh_low": 65.0,
  "static_ip": "192.168.2.216",
  "gateway_ip": "192.168.2.254",
  "subnet": "255.255.255.0",
  "primary_dns": "192.168.2.254",
  "secondary_dns": "",
  "use_rh_headroom_mode": 1,
  "rh_attainable_headroom_high": 45.00,
  "rh_attainable_headroom_medium": 30.00,
  "rh_attainable_headroom_low": 15.00,
  "rh_headroom_mode_rh_medium_bound": 90.00,
  "rh_headroom_mode_rh_low_bound": 62.50,
  "use_gps_time": 1,
  "gps_time_uart_nr": 2,
  "gps_baud": 9600
}